.Header {
  background: rgb(51, 51, 51);
  width: 100%;
}

.Header .material-icons {
  transform: translateY(10%);
  margin-right: 5px;
}

.Header ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.Header li {
  min-width: 100px;
  margin: 10px 5px 0 0;
  padding: 10px;
  display: inline-block;
  background: rgb(245, 245, 245);
  color: grey;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.Header li::after {
  border-top-right-radius: 5px;
  transform: skewX(18deg);
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  top: 0;
  right: -5px;
  width: 12px;
  background: inherit;
  z-index: 1000;
  box-shadow: 4px -2px 4px rgba(0, 0, 0, 0.1);
}

.Header li.active {
  background: white;
  color: rgb(51, 51, 51);
}

.Header input {
  float: right;
  background: rgb(24, 24, 24);
  border: none;
  padding: 5px;
  margin: 10px 5px;
  border-radius: 5px;
  color: white;
}
