.RightBar {
  text-align: center;
  background: rgb(51, 51, 51);
  color: white;
  max-width: 80px;
  position: relative;
}

.RightBar ul {
  padding: 0;
}

.RightBar li {
  padding: 5px;
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.RightBar li.active i {
  color: yellow;
}

.RightBar li.active,
.RightBar li:hover {
  border-radius: 05px;
  background: rgb(24, 24, 24);
}

.RightBar .material-icons {
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.RightBar .footer {
  position: absolute;
  right: 10px;
  left: 10px;
  bottom: 0;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
