.TextBar {
  min-width: 200px;
  background: rgb(51, 51, 51);
  display: inline-block;
  color: white;
  font-size: 0.7rem;
  position: relative;
}

.TextBar .action {
  text-align: right;
}

.TextBar .action i {
  background: rgb(24, 24, 24);
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}

.TextBar i {
  font-size: 0.7rem;
  background: rgb(24, 24, 24);
  padding: 5px;
  margin-top: -4px;
  border-radius: 5px;
}

.TextBar li {
  padding: 8px 8px 8px 20px;
  margin: 8px;
  padding-left: 20px;
  border-radius: 5px;
}

.TextBar li.active {
  background: rgb(24, 24, 24);
}

.TextBar li:hover {
  background: rgb(24, 24, 24);
}

.TextBar ul {
  padding: 0;
  list-style-type: none;
}

.TextBar li b {
  color: yellow;
  margin-left: -10px;
  font-size: 0.8rem;
}

.TextBar .footer {
  position: absolute;
  right: 10px;
  left: 10px;
  bottom: 0;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}
