/* body {
  overflow: hidden;
} */

.App .main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-size: 0.7rem;
}

.App .content {
  width: 100%;
}

.App .view {
  display: flex;
  align-content: stretch;
  min-height: calc(100vh - 46px);
  width: 100%;
}

.App .listContainer {
  width: 100%;
}
